body {
	background: black;
	color: white;
	font-family: courier, monospace;
	/*font: 14px/22px 'Open Sans', Arial, sans-serif;*/
	text-align: justify;	
}

input{

	background: black;
	color: white;
	font-family: courier, monospace;
	font-size: large;
	border: 0px;
    outline:0; 
    height:25px; 
    width: 200px; 
}

.column {
    width: 100px;
    /*border: 1px green solid;*/
    margin: 10px;
    display: inline-block;
    text-align: left;
}
.column2 {
    width: 234px;
    /*border: 1px green solid;*/
    margin: 10px;
    display: inline-block;
    text-align: left;
}
/*.container {
    margin:auto;
    text-align: center;
}*/
/*this is important for the terminal line*/
#a { 
        color: #0f0;
    }
#b {
    color: #ff0096;
}
#c {
    color: #0bc;
}

#aboutB {
    color:#0bc;
    padding: 0;
    border: none;
    background: none;
}
